In [3]:
# Import necessary libraries
import pandas as pd

In [5]:
# Read data from CSV file
data_df = pd.read_csv("Most_Popular_Baby_Names_in_NYC.csv")
data_df.shape

(13962, 6)

In [9]:
# Columns of dataset
data_df.columns

Index(['brth_yr', 'gndr', 'ethcty', 'nm', 'cnt', 'rnk'], dtype='object')

In [10]:
# First five records of dataset
data_df.head()

   brth_yr    gndr    ethcty         nm  cnt  rnk
0     2011  FEMALE  HISPANIC  GERALDINE   13   75
1     2011  FEMALE  HISPANIC        GIA   21   67
2     2011  FEMALE  HISPANIC     GIANNA   49   42
3     2011  FEMALE  HISPANIC    GISELLE   38   51
4     2011  FEMALE  HISPANIC      GRACE   36   53

In [11]:
# Number of unique values for each column of dataset
columns = list(data_df.columns)
for column in columns:
    print(f"len(unique({column})) = {len(pd.unique(data_df[column]))}")

len(unique(brth_yr)) = 4
len(unique(gndr)) = 2
len(unique(ethcty)) = 7
len(unique(nm)) = 2811
len(unique(cnt)) = 258
len(unique(rnk)) = 102